html, body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding: 0px 15px;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    color: white;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 600px;
    flex-grow: 1;
    height: 100%;
}

section {
    border: 1px solid #010c10;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.central-up-section {
    height: 30%;
}

.right-bottom-section {
    height: 42.5%;
}

.container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.container .block a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.container .block i {
   font-size: 40px;
}

.container .block a {
    flex-grow: 1;
}

.container .line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 10px 0px;
}

.lateral-menu {
    overflow: hidden;
    height: 560px;
    width: 150px;
}

.lateral-menu .secondary-link {
    margin-left: 10px;
}

.lateral-menu .container {
    padding: 0px;
}

.menu {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.menu > li {
    position: relative;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.3s ease;
  }

.menu a:hover {
    background-color: #555;
  }
  
.Submenu {
    list-style: none;
    top: 0;
    padding: 0px;
    margin: 0px;
    display: none;
    background-color: #444;
    width: auto;
    box-sizing: border-box;
}

.Submenu li a {
    padding: 10px 0px 10px 0px;
}

.menu > li:hover .Submenu {
    display: block;
}

footer {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    color: white;
    padding: 10px 15px;
}

footer .left, .right {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

i {
    padding-left: 2px;
}

img {
    width: 45px;
    height: 45px;
}

.icon-title {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0px;
    background-color: #2c3e50;
    border: 1px solid #2c3e50;
    color: white;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    overflow: hidden;
    position: relative;
}

.progress-fill {
    height: 100%;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}
